body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u61 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  position:absolute;
  left:0px;
  top:50px;
  width:150px;
  height:80px;
}
#u63 {
  position:absolute;
  left:2px;
  top:32px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:40px;
  top:1140px;
  width:670px;
  height:100px;
}
#u65 {
  position:absolute;
  left:2px;
  top:42px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:220px;
  top:240px;
  width:400px;
  height:60px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:40px;
  top:1140px;
  width:670px;
  height:100px;
}
#u68 {
  position:absolute;
  left:2px;
  top:42px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:220px;
  top:334px;
  width:400px;
  height:60px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u70 {
  position:absolute;
  left:220px;
  top:430px;
  width:400px;
  height:60px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u71 {
  position:absolute;
  left:220px;
  top:526px;
  width:400px;
  height:60px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u72 {
  position:absolute;
  left:220px;
  top:1000px;
  width:400px;
  height:60px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
